.about {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
     }
}

.about-div-icon {
  width: auto;
  height: 120px;
  background-color: var(--team-background-color);
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
  display: flex;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
  }

  @media screen and (min-width: 480px) {
    width: 450px;
     }
     @media screen and (min-width: 768px) {
      width: 354px;
      }

      @media screen and (min-width: 1200px) {
        width: 270px;
         }
  }

.about-h3 {
  font-weight: bold;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-color);
  margin-bottom: 10px;
}

.about-list {
  @media screen and (min-width: 480px) {
    margin-bottom: -30px;
    }
  
  @media screen and (min-width: 768px) {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: 0;
     }
}



.about-list .about-item {
  width: auto;
  @media screen and (min-width: 480px) {
    width: 450px;
     }
     @media screen and (min-width: 768px) {
      width: 354px;
      }

      @media screen and (min-width: 1200px) {
        width: 270px;
         }
}

.about-item {
  margin-bottom: 30px;
  
  
  @media screen and (min-width: 480px) {
    margin-bottom: 30px;
    }

  @media screen and (min-width: 768px) {
    margin-left: 30px;
    margin-bottom: 30px;
    }
    @media screen and (min-width: 1200px) {
      margin-bottom: 0;
       }
}

  .about-item:first-child {
    @media screen and (min-width: 1200px) {
      margin-left: 0;
      }
    }

.about-p {
  font-weight: normal;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--header-link-color);
}

.about-list + .about-p {
  margin-left: 30px;
}
