.header-container {
  display: flex;
  align-items: center;
  
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-logo {
  color: #212121;
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}



.current {
  color: var(--accent-color);
  position: relative;
}

.current::after {
  content: "";
  width: 100%;
  height: 4px;
  position: absolute;
  background-color: var(--accent-color);
  left: 0;
  bottom: 0;
  border-radius: 2px;
}

.header-list {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
    margin-left: 88px;
    }
  
    @media screen and (min-width: 1200px) {
    display: flex;
    margin-left: 93px;
     }
}

.header-list .header-item + .header-item {
 margin-left: 50px;
}

.header-contacts-icon {
  margin-right: 10px;
  align-items: center;
  justify-content: center;
  fill: currentColor;
}

.header-link-adress {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--header-link-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.adress-list {
 
  display: none;
  
  @media screen and (min-width: 768px) {
    display: block;
    margin-left: auto;
    
    }
  @media screen and (min-width: 1200px) {
     display: flex;
     margin-left: auto;
     padding: 0;
     }
}

.item-adress-mail {
  @media screen and (min-width: 768px) {
    padding-top: 20px;
    }
    @media screen and (min-width: 1200px) {
      padding-top: 0;
       }  
}

.item-adress-tel {
  @media screen and (min-width: 768px) {
    padding-bottom: 20px;
    }
  @media screen and (min-width: 1200px) {
      padding-bottom: 0;
       }
}



.adress-list .header-link-adress {
 @media screen and (min-width: 1200px) {
    padding-top: 32px;
    padding-bottom: 33px;
     }

}

.header-list .header-link {
  @media screen and (min-width: 768px) {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    }
     
  @media screen and (min-width: 1200px) {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
     }
}

.adress-list .item-adress + .item-adress {
 @media screen and (min-width: 768px) {
    margin: 10px 0px 0px 0px;
    }
 @media screen and (min-width: 1200px) {
    margin: 0px 0px 0px 50px;
      }
}

