.mobile-menu {
    display: flex;
  }
  
  .menu-open-btn,  .menu-close-btn{
    display: block;
    margin-left: auto;
    
  }
  
  .menu-open-btn {
    fill: var(--text-color);
    border: #ffffff;
    background-color: #ffffff;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      fill: var(--accent-color);
    }
  
    @media screen and (min-width: 768px) {
      display: none;
      }
  }
  
  
  
  
  
  .menu-close-btn {
    margin-bottom: 8px;
    border: #ffffff;
    background-color: #ffffff;
    fill: var(--text-color);
    &:hover,
    &:focus {
      fill: var(--accent-color);
    }
    
  }
  
  .mob-menu {
    position: fixed;
    background-color: #ffffff;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    padding-top: 21px;
    padding-bottom: 48px;
    z-index: 1;
    overflow: auto;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    .container {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
  
  
  
  .mob-header-item  {
  margin-bottom: 32px;
  
  }
  
  .mob-header-link {
    color: var(--text-color);
    font-size: 40px;
    line-height: calc(46 / 40);
    font-weight: 500;
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
  
  
  
  .mob-link-adress-tel {
    font-size: 34px;
    line-height: calc(40 / 34);
    color: var(--accent-color);
    font-weight: 500;
  
  
  }
  
  .mob-link-adress {
    font-size: 24px;
    line-height: calc(28 / 24);
    color: #757575;
  }
  
  .mob-item-adress:first-child {
    margin-bottom: 32px;
  }
  
  .mob-menu-social-link {
    font-size: 14px;
    line-height: calc(22 / 18);
    color: var(--accent-color);
    font-weight: 500;
    @media screen and (min-width: 480px) {
      font-size: 18px;
      }
  }
  
  .mob-menu-social-item:not(:first-child) {
    margin-left: 10px;
  }
  
  .mob-menu-social-item {
    display: inline;
    border-left: 1px solid rgba(33, 33, 33, 0.2);
    padding: 0 2px 0 10px;
  }
  
  .mob-menu-social-item:first-child {
    border: none;
    padding: 0;
  }
  
  .masters-social-list-mob {
    display: flex;
  }
  
  .mob-menu-bottom {
    margin-bottom: 64px;
  }
  