body {
  font-family: "Roboto", sans-serif;
  background-color: var(--header-text-color);
  color: var(--text-color);
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}


